# PRIVATE — server only (do NOT prefix with NUXT_PUBLIC_)
NUXT_OPENROUTER_API_KEY=your_openroyetr_api_key
NUXT_OPENAI_API_KEY=your_openai_api_key

NUXT_DB_PATH=your_absolutte_path_to_sqlite_db

NUXT_JWT_SECRET=your_jwt_secret_key_here

# PUBLIC — readable on client
NUXT_PUBLIC_PROVIDER=nuxt
NUXT_PUBLIC_MODEL=deepseek/deepseek-r1:free
NUXT_PUBLIC_OPENROUTER_BASE=https://openrouter.ai/api/v1
NUXT_PUBLIC_APP_TITLE=Nuxt DeepSeek Chat
NUXT_PUBLIC_OPENAPI_BASE=https://api.openai.com/v1
NUXT_PUBLIC_OPENAPI_MODEL=gpt-5-nano